.footer {
   margin-top: 120px;
   margin-bottom: 50px;

   h5 {
      color: #cd1818;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      * + * {
         margin-left: 4px;
      }
   }
   .list {
      margin-top: 6px;
      li {
         font-size: 14px;
         & + li {
            margin-top: 4px;
         }
      }
   }
}
