.tiptap {
   > * + * {
      margin-top: 14px;
   }
   p {
      font-size: 16px;
      color: #495057;
      // color: #808080;s
   }
   h5 {
      line-height: 1.1;
      font-size: 18px;
      font-weight: bold;
      color: #000;
   }

   img {
      width: 100%;
      border-radius: 8px;
      &.ProseMirror-selectednode {
         outline: 3px solid #cd1818;
      }
   }

   ul,
   ol {
      padding: 0 1rem;
   }
}

.my-editor {
   button {
      padding: 3px 6px;
      border-radius: 4px;
      font-weight: 500;
      @mixin active {
         background-color: white;
         color: #cd1818;
      }

      &.active {
         @include active();
      }

      &:hover {
         @include active();
      }
   }
   .editor-container {
      .tiptap {
         padding: 30px 10vw 50vh;
         min-height: 30vh;
      }
   }
}
